@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    max-width: 100%;
  }
  *::-webkit-scrollbar {
    width: 10px;
    height: 6px;
  }
  *::-webkit-scrollbar-track {
    border-radius: 10px;
    background: rgba(0,0,0,0.1);
  }
  *::-webkit-scrollbar-thumb{
    border-radius: 10px;
    background: rgba(0,0,0,0.2);
  }
  *::-webkit-scrollbar-thumb:hover{
  	background: rgba(0,0,0,0.4);
  }
  *::-webkit-scrollbar-thumb:active{
  	background: rgba(0,0,0,.9);
  }
}

@layer components {
  .text-btn {
    @apply text-xl lg:text-3xl rounded-md w-3/4 px-4 py-1 lg:py-3 hover:opacity-90 transform hover:scale-105;
  }
  .disable-text-btn {
    @apply text-xl lg:text-3xl rounded-md w-3/4 px-4 py-1 lg:py-3 text-white bg-gray-500 hover:cursor-default;
  }
  .bill-btn {
    @apply transform hover:scale-105;
  }
  .bill-img {
    @apply pointer-events-none h-16 md:h-20 lg:h-24;
  }
}
